
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: TASA Orbiter;
  src: url(TASAOrbiter-VariableFont_wght.ttf);
}
.off{
  height: 30px;
  width: 55px;
  background-color: #2563EB;
  border: none;
  font-family: TASA Orbiter;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.slider-container {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  margin-left: 200px;
  margin-top: 150px;
}
.about-content{
  height: 100vh;
  width: 100%;
  background-color: purple;
}
.section-first{
  height: 100vh;
  width: 50%;
  background-color: green;
}
.secon
.slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
 width: 1000px;
  height: 500px;
  object-fit: cover;
}
h1{
  text-align: center;
  font-family: TASA Orbiter;
  margin-top: 14px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
