
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: TASA Orbiter;
  src: url(TASAOrbiter-VariableFont_wght.ttf);
}
.off{
  height: 30px;
  width: 55px;
  background-color: #2563EB;
  border: none;
  font-family: TASA Orbiter;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.about-content{
  height: 100vh;
  width: 100%;
  background-color: purple;
}
.section-first{
  height: 100vh;
  width: 50%;
  background-color: green;
}
.secon
.slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
 width: 1000px;
  height: 500px;
  object-fit: cover;
}
.part{
  text-align: center;
  font-family: TASA Orbiter;
  margin-top: 14px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
.red{
  height: 300px;
  width: 700px;
  margin-top: 20px;
  border-radius: 20px;
}
.experience{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   font-family: TASA Orbiter;
}
.experience h3{
  margin-top: 20px;
}
u{
  color: #2563EB;
}
.ideas{
  height: 80vh;
  width: 100%;
  display: flex;
  gap: 20px;
}
.cont{
  height: 400px;
  width: 400px;
 margin: auto;
 font-family: TASA Orbiter;
 border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
 text-align: center;
}
.cont p{
 font-family: TASA Orbiter;
}
.img-space{
  border-radius: 10px;
  height: 290px;
  width: 400px;
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  font-family: TASA Orbiter;
}
.testimonials{
  height: 100vh;
  width: 100%;
}
.test{
  height: 70vh;
  width: 100%;
  background: #2563EB;
  display: flex;
  font-family: TASA Orbiter;
}
.pic{
  height: 70vh;
  width: 50%;
  color: white;
}
.gold{
  font-size: 30px;
  color: yellow;
}
.pic p{
  text-align: center;
  font-family: TASA Orbiter;
}
.pic h2,h5{
margin: 15px;
}